/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body {
    background: #2a83a3;
}

.container {
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    background: #fff1cf;
    padding: 32px;
    font-size: 8px;
}

form {
    background: #fbfaf5;
    border-radius: 4px;
    box-shadow: 0 0 15px #b2b2b2;
    padding-bottom: 42px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
}

label {
    display: flex;
    flex-direction: row-reverse;
    height: 42px;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid #b2b2b2;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
}

.delete {
    color: #b2b2b2;
    text-decoration: line-through;
}

input[type=checkbox] {
    margin-right: 12px;
}

input[type=checkbox]:checked{
    accent-color: #2a83a3;
}